
// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

// Subtitles
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Warnes&display=swap');

// Font Variables
//$title-font: 'Titan One', cursive;
//$title-font: 'Orbitron', sans-serif;
$title-font: 'Press Start 2P', cursive;
//$subtitle-font: 'Satisfy', cursive;
//$subtitle-font: 'Lobster', cursive;
$subtitle-font: 'Warnes', cursive;
$paragraph: 'Noto Sans Mono', monospace;