
@import '../sass-utils/variables';
@import '../sass-utils/mixins';

.menu-item {
  font-family: $paragraph;
  width: 100%;
  display: block;

  @include xs {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    //max-height: 60px;
  }

  @include sm {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  @include md {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 20px;
    width: 200px;
  }

}

.selected {
  @include md {
    min-width: 400px;
  }
}

.menu-item:hover {
  cursor: pointer;
}

.menu-icon {
  min-width: 30px;
  height: 30px;
  left: 10px;
  margin-bottom: 3px;
  position: relative;

  @include xs {
    min-width: 30px;
    min-height: 30px;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
  }

  @include sm {
    min-width: 50px;
    min-height: 50px;
    margin: 0 auto;
    position: relative;
    display: block;
    margin-top: 10px;
    padding-left: 0px;
  }

  @include md {
    min-width: 50px;
    min-height: 50px;
    margin: 0 auto;
    position: relative;
    display: block;
    margin-top: 10px;
    padding-left: 0px;
    left: 0px;
  }
}

#about-icon {

  background-repeat: no-repeat;

  @include xs {
    background-image: url("../assets/images/icons/about-icon.png");
    display: inline-block;
    height: 30px;
    width: 30px;
  }
  @include sm {
    background-image: url("../assets/images/icons/about-icon.png");
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 0;
  }
  @include md {
    background-image: url("../assets/images/icons/about-50px.png");
    min-width: 50px;
    min-height: 50px;
    margin: 0 auto;
    position: relative;
    display: block;
    margin-top: 10px;
    padding-left: 0px;
  }
}

#contact-icon {

  background-repeat: no-repeat;

  @include xs {
    background-image: url("../assets/images/icons/contact-icon.png");
    display: inline-block;
    height: 30px;
    width: 30px;
  }
  @include sm {
    background-image: url("../assets/images/icons/contact-icon.png");
    display: inline-block;
    height: 30px;
    width: 30px;
  }
  @include md {
    background-image: url("../assets/images/icons/contact-50px.png");
    min-width: 50px;
    min-height: 50px;
    margin: 0 auto;
    position: relative;
    display: block;
    margin-top: 10px;
    padding-left: 0px;
  }
}

#github-icon {

  background-repeat: no-repeat;

  @include xs {
    background-image: url("../assets/images/icons/github-icon-ghost.png");
    display: inline-block;
    height: 30px;
    width: 30px;
  }
  @include sm {
    background-image: url("../assets/images/icons/github-icon-ghost.png");
    display: inline-block;
    height: 30px;
    width: 30px;
  }
  @include md {
    background-image: url("../assets/images/icons/github-50px.png");
    min-width: 50px;
    min-height: 50px;
    margin: 0 auto;
    position: relative;
    display: block;
    margin-top: 10px;
    padding-left: 0px;
  }
}

#gitlab-icon {

  background-repeat: no-repeat;

  @include xs {
    background-image: url("../assets/images/icons/gitlab-icon-ghost.png");
    display: inline-block;
    height: 30px;
    width: 30px;
  }
  @include sm {
    background-image: url("../assets/images/icons/gitlab-icon-ghost.png");
    display: inline-block;
    height: 30px;
    width: 30px;
  }
  @include md {
    background-image: url("../assets/images/icons/gitlab-50px.png");
    min-width: 50px;
    min-height: 50px;
    margin: 0 auto;
    position: relative;
    display: block;
    margin-top: 10px;
    padding-left: 0px;
  }
}

#linkedin-icon {

  background-repeat: no-repeat;

  @include xs {
    background-image: url("../assets/images/icons/linkedin-icon-ghost.png");
    display: inline-block;
    height: 30px;
    width: 30px;
  }
  @include sm {
    background-image: url("../assets/images/icons/linkedin-icon-ghost.png");
    display: inline-block;
    height: 30px;
    width: 30px;
  }
  @include md {
    background-image: url("../assets/images/icons/linkedin-50px.png");
    min-width: 50px;
    min-height: 50px;
    margin: 0 auto;
    position: relative;
    display: block;
    margin-top: 10px;
    padding-left: 0px;
  }
}

#web-icon {

  background-repeat: no-repeat;

  @include xs {
    background-image: url("../assets/images/icons/web-icon.png");
    display: inline-block;
    height: 30px;
    width: 30px;
  }
  @include sm {
    background-image: url("../assets/images/icons/web-icon.png");
    display: inline-block;
    height: 30px;
    width: 30px;
  }
  @include md {
    background-image: url("../assets/images/icons/web-50px.png");
    min-width: 50px;
    min-height: 50px;
    margin: 0 auto;
    position: relative;
    display: block;
    margin-top: 10px;
    padding-left: 0px;
  }
}

.menu-item-title {
  color: white;
  position: relative;
  text-align: center;

  width: 70%;

  @include xs {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    top: -5px;
    width: 70%;
  }

  @include sm {
    text-align: center;
    margin: 0 auto;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
  }

  @include md {
    text-align: center;
    margin: 0 auto;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
  }
}


.menu-item-link {
  width: 100%;
  display: block;
  position: relative;
  //margin-top: 5px;
}

.open-tab {
  display: inline-block;
  right: 10px;
  position: relative;

  @include xs {
    top: -10px;
  }
  @include sm {
    top: -10px;
  }

  @include md {
    display: none;
  }
}

.about-text {
  color: white;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;

  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  background-color: #4c4c4c;

  @include xs {
    text-align: center;
  }
  @include sm {
    text-align: center;
  }
  @include md {
    text-align: center;
  }
}

.menu-divider {
  color: white;
  min-width: 100px;
  margin: 0 auto;
  min-height: 2px;
}

.menu-head {
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.menu-head.selected {
  background: linear-gradient(270deg, #e121f5, #0dfbfd, #3e31f5, #cf35f2);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  border-radius: 15px 15px 0 0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: -5px;
  margin-top: -5px;
}

.contact-link {
  color: white;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}