
@import '../sass-utils/variables';
@import '../sass-utils/mixins';

.title-text {
  font-family: $title-font;
  font-size: 55px;
  color: whitesmoke
}

section {
  margin: 0 auto;
  z-index: 2;
  
  @include xs {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
  }
  @include sm {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
  }
  @include md {
    width: 500px;
  }
  
  
  
}

hr {
  background-color: white;
}