
@import '../sass-utils/variables';

.title-text {
  font-family: $title-font;
  font-size: 55px;
  color: whitesmoke
}

section {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
}

hr {
  background-color: white;
}