
@import '../sass-utils/mixins';
@import '../components/glass';

.container {

  @include xs {
    background-image: url("../assets/images/background-639px.png");
  }
  @include sm {
    background-image: url("../assets/images/background-667px.png");
  }
  @include md {
    background-image: url("../assets/images/background-1023px.png");
  }
  @include lg {
    background-image: url("../assets/images/background-1279px.png");
  }
  @include xl {
    background-image: url("../assets/images/background-1535px.png");
  }
  @include xxl {
    background-image: url("../assets/images/background-xxl.png");
  }
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  display: block;
  overflow: scroll;
}

.title {
  margin: 0 auto;
  width: 300px;
  padding-top: 50px;
}

