
@import '../sass-utils/mixins';
@import '../components/glass';

.container {

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  display: block;
  overflow: scroll;

  @include xs {
    background-image: url("../assets/images/background-639px.png");

    .title {
      margin: 0 auto;
      width: 300px;
      padding-top: 50px;
    }
  }
  @include sm {
    background-image: url("../assets/images/background-667px.png");

    .title {
      margin: 0 auto;
      width: 500px;
      padding-top: 50px;
    }
  }
  @include md {
    background-image: url("../assets/images/background-1023px.png");

    .title {
      margin: 0 auto;
      width: 500px;
      padding-top: 100px;
      text-align: center;
    }
  }
  @include lg {
    background-image: url("../assets/images/background-1279px.png");
  }
  @include xl {
    background-image: url("../assets/images/background-1535px.png");
  }
  @include xxl {
    background-image: url("../assets/images/background-xxl.png");
  }
  
}

.title {
  margin: 0 auto;
}

